<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Users List Page</title>
</head>
<body>
	<section>
	<div class="mt-5 p-3">
		<i class="fa-solid fa-arrow-left fa-fade text-primary"></i> <a href="/admin/" class="text-primary text-decoration-none"> Back</a>
	</div>
		<div class="container-fluid col-md-12">
		<!-- <a class="btn btn-primary">User's List</a>
		<a class="btn btn-info">Admin's List</a> -->
			<div class="card mb-3">
				<div class="card-header text-center">
					<p class="fs-4">Users List</p>
					<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
				</div>
				<div class="card-body">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Sl.No</th>
								<th scope="col">User Name</th>
								<th scope="col">Mobile Number</th>
								<th scope="col">Email</th>
								<th scope="col">Address</th>
								<!-- <th scope="col">Password</th> -->
								<!-- <th scope="col">Profile Image</th> -->
								<th scope="col">Role</th>
								<th scope="col">Status</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user,u:${users}">
								<th scope="row">[[${u.count}]]</th>
								<td>[[${user.userName}]]</td>
								<td>[[${user.mobileNumber}]]</td>
								<td>[[${user.email}]]</td>
								<td>[[${user.address+', '+ user.city+', '+user.state+', '+user.pincode}]]</td>
								<!-- <td>[[${user.password}]]</td> -->
								<!-- <td>
									<img th:src="@{'/images/user_imgs/'+${user.profileImage}}" width="50" height="50" class="rounded-circle"/>
								</td> -->
								<td>[[${user.role}]]</td>
								<td>[[${user.isEnable}]]</td>
								<td>
									<!-- <a th:href="@{'/admin/editProduct/'+${pro.id}}" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen-to-square"></i> edit</a> -->
									<a th:href="@{'/admin/updateStatus?status=true&id='+${user.userId}}" class="btn btn-sm btn-success" >Active</a>
									<a th:href="@{'/admin/updateStatus?status=false&id='+${user.userId}}" class="btn btn-sm btn-danger" >Inactive</a> 
								</td>
							</tr>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>
</html>